# Dependencies
node_modules
.pnpm-store

# Build
.next
dist
out
.turbo

# Env
.env
.env.local
.env.*.local

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
